body{background: #000 url("./bg.png") repeat-x top; color: #00FF00; font-size: 12px; font-family: Consolas;}
#cont{float: center; text-align: center; width: 800px; height: 500px; margin-top: 50px; padding-top: 0px;}
table{width: 800px; border: 1px dashed #00FF00; text-align: center; background-color: #000;}
td{border: 1px dashed #00FF00; text-align: center;}
.sinbord{border: 0px;}
select, input{border: 2px dotted #00FF00; color: #00FF00; background: #222; width: 160px; height: 30px;}
input:focus{border: 2px dotted #00FF00; color: #00FF00; background: #000;}
.item{cursor: pointer;}
.item:hover{background: #444;}
a{color: #00FF00; text-decoration: none;}
a:hover{color: #CCC; text-decoration: underline;}
textarea { border: 2px dotted #00FF00; color: #00FF00; background: #222; }
textarea:focus { color: #00FF00; background: #000; }