body{background: #000 url("./bg.png") repeat-x top; color: #00FF00; font-size: 12px; font-family: Consolas;}
#cont{float: center; text-align: center; width: 800px; height: 500px; margin-top: 50px; padding-top: 100px;}
table{width: 500px; height: 250px; border: 2px dotted #00FF00; text-align: center; background-color: #000;}
td{border: 2px dotted #00CC00; text-align: center;}
.sinbord{border: 0px;}
input{border: 2px dotted #00FF00; color: #00FF00; background: #222; width: 160px; height: 30px;}
input:focus{border: 2px dotted #00FF00; color: #00FF00; background: #000;}