body { background: url(../../_img/bg_warg.png) #FFF no-repeat; margin: 0px; padding: 0px; overflow: hidden; }
/* Titulo */
#dv_tit { width: 700px; text-align: right; margin-top: 11px; }
.tit { color: #FFF; font-weight: bolder; font-size: 18px; margin-right: 25px; }
/* Contenido */
#dv_des { width: 700px; text-align: justify; margin-top: 20px; }
.des { color: #000; font-weight: bold; font-size: 16px; margin-left: 21px; margin-right: 21px; }

#dv_res { width: 700px; margin: 0px; }
.res { color: #000; font-family: Arial; font-weight: bold; font-size: 14px; margin-left: 21px; }

#txt_res { color: #BB0000; border: 0px; border-bottom: 1px #000 dashed; background-color: #FFF; font-family: Arial; font-weight: bold; font-size: 14px; width: 200px; outline: none; }
form { width: 600px; margin: 0px; padding: 0px; }

a { color: #BB0000; text-decoration: none; }
a:hover { text-decoration: underline; }

.res { color: #000; font-family: Arial; font-weight: bold; font-size: 14px; margin-left: 21px; }