body { background: #000; }
iframe { width: 640px; height: 360px; border: 0px; }

#dv_intro { width: 640px; height: 360px; position: relative; left: 50%; margin-left: -320px; top: 100px; }
#dv_intro > object { width: 640px; height: 360px; }
#dv_btn_continuar { width: 175px; height: 38px; position: relative; margin-top: 150px; left: 50%; margin-left: -87px; }
#dv_btn_continuar > object { width: 175px; height: 38px; }
#dv_footer { position: fixed; right: 0px; top: 100%; margin-top: -15px; }