<div style="padding: 15px;">
    <h2>Bienvenid@s</h2>
    <p style="align: justify;">
        En esta nueva entrega de HackxCrack para cada uno de sus usuarios
        hemos mejorado la logistica de la web, esperamos que sea de tu 
        agrado y sobre todo que aprendas mucho. Debo decir que debido a la gran cantidad de cambios
        les pido lleven a cabo nuevamente el registro en la pagina, ademas deben estar registrado en
        el foro ese es el prerequisito y deben usar el mismo nick. Por otro lado aquellas personas que usen
        nicks como <i>&lt;script&gt;</i> o similares seran eliminados de la DB; aunque se que esto
        pueda llegar a ser con animo de averiguar la seguridad de la web se veria bastante mal ante los usuarios.
        <br>Gracias a todos por la comprencion y la paciencia que nos han tenido y esperamos no haya sido en vano.
        <br><br>
        Se han realizado grandes cambios en esta nueva entrega y/o version entre los cuales se destaca:<br>
    </p>
    <p style="padding-left: 20px; text-align: justify; position: relative;">
        &#8226;&nbsp;Encontramos el tan anelado Hall Of Fame (o Salon de la Fama), en donde encontraras
        el posicionamiento de cada usuario.<br><br>
        &#8226;&nbsp;Se han realizado un sistema de puntuacion que depende de los retos que hayas completado; cada reto 
        tiene una puntuacion que depende de su grado de dificultad siendo 1 la mas baja y 10 la mas alta.<br><br>
        &#8226;&nbsp;Creacion de una imagen dinamica que contiene tu informacion como usuario de los Wargames HxC (Puntos, Medalla, Copa y Retos solucionados),
        la cual puede usarse en foros o en cualquier web que se desee.<br><br>
        &#8226;&nbsp;Implementacion de un sistema de medalleria para los primero 3 puestos, estas mismas medallas estaran en la imagen mencionada anteriromente.
        <br><br>
        &#8226;&nbsp;Y por ultimo pero no por eso menos importante el Grandioso concuro HxM o Hacker del Mes. HxM consiste en un reto que tiene un grado de
        dificultad mucho mayor a cualquier reto simple que se llevara a cabo cada mes, ademas al primer usuario que solucione este reto se le daran
        30 puntos y la Copa HxM que igualmente aparecera en la imagen y como principal atraccion en el HOF. Luego de que el primer usuario solucione
        el HxM y gane la copa quedara disponible para los demas usuarios solo que a estos no se les entregara copa y solo se le brindaran 15 puntos.
        <br>
    </p>
    <p>
        <br>
        Bueno y para terminar algunas peticiones que estoy seguro las tendran muy en cuenta.<br><br></p>
    <p style="padding-left: 20px; text-align: justify; position: relative;">
        &#8226;&nbsp;Si encuentras algun fallo en la seguridad de la web, te pido el favor no lo uses para mal, hemos creado la web para que aprendas a lo legal
        y sin hacerle da&ntilde;o a nadie asi que no queremos lo hagas a nosostros; mejor enviame el reporte a <a href="mailto:g0th4ck@gmail.com">g0th4ck@gmail.com</a>
        lo arreglaremos lo mas pronto posible y de paso os lo agradeceremos.<br><br>
        &#8226;&nbsp;No uses fuerza bruta para solucionar el reto, solo vas a perjudicarnos, ademas no se trata de averiguar las cosas a las malas, se trata de practicar
        manualmente hasta lograr el objetivo y asi obtener experiencia.<br><br>
        &#8226;&nbsp;No postees las respuestas, ni las publiques tampoco... en serio de nada sirve solo le darias las soluciones a los que no saben nada para ganar puntos y mofarse
        de algo que no han hecho con su esfuerzo.
        <br><br>
        &#8226;&nbsp;Se paciente para publicar nuevos retos xD, es un tanto dificil imaginarlos para que la pases bien resolviendolos sin que se vuelva monotono.
        <br><br>
        &#8226;&nbsp;Y por ultimo si tienes alguna duda pregunta en el foro.
        <br>

    </p>

    <p style="align: justify;">Recuerda que en el <a href="http://www.hackxcrack.es/forum/index.php" target="blank">foro</a> encontraras muchisimas personas dispuestas
        a colaborar y de vez en cuando tu colaboracion en el mismo se agradece.</p>
    <br />
    <p><a href="http://www.hackxcrack.es" target="blank">HackxCrack </a></p>
    <p><a href="http://blog.hackxcrack.es/" target="blank">Blog de HackxCrack</a></p>
</div>
</div>