@charset "utf-8";
/* CSS Document */

body { background-color:#666;
       font-family:"Comic Sans MS", cursive;
       font-size:12px;

}

p {
    font-family:"Comic Sans MS", cursive;
    color:#000;
    font-size:16px;	
}

h1 {
    font-family:"Comic Sans MS", cursive;
    color:#060;
}

#firma {
    font-family:"Comic Sans MS", cursive;
    font-size:18px;
    color:#F00;

}
#info{
    font-family:Verdana, Geneva, sans-serif;
    color:#000;
    font-size:14px;	

}
pre {
    font-family:"Comic Sans MS", cursive;
    color:#000;
    font-size:16px;	
}