body { background:#000; text-align:center; font-family: Courier, consolas; font-size:32px; color:#990000; }
.texto_xD { background:#000; text-align:center; font-family: Courier, consolas; font-size:16px; color:#990000; }
.texto_medi { font-family: Courier, consolas; font-size:16px; color:#990000; }
.campo-texto { height:20px; border: 0px; border-bottom:1px dashed #790000; background:#000000; }
.campo-texto:focus { height:20px; border: 0px; border-bottom:3px dashed #790000; background:#000000; color: #AA0; }
div .text-medi { border: 2px #FFFFFF ridge; background: #999999; text-align:justify; }
.but { color:#FFFFFF; width:100px; height:30px; background:#000000; border:2px #006600 double; }
a { color: #690000; }